<template>
  <div class="seccion barra-superior">
    <div class="flex items-center h-16 px-4 bg-blanco lg:h-24">
      <div class="w-1/2">
        <a href="index.html">
          <img
            class="object-contain h-20 duration-300 hover:h-24"
            src="images/teuticket-logo.svg"
            alt="Mira, escoita, sente"
          />
        </a>
      </div>
      <nav class="flex items-center justify-end w-2/3 lg:visible">
        <ul class="flex items-center justify-self-end">
          <li>
            <a href="#" class="align-middle uppercase px-4 py-2 mr-6 font-small duration-300 rounded cursor-pointer text-primario hover:text-blanco hover:bg-primario border-primario group">
              Inicio
            </a>
          </li>
          <li class="sm:flex justify-around">
            <a href="#" id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="text-center inline-flex items-center align-middle uppercase px-4 py-2 mr-6 font-small duration-300 rounded cursor-pointer text-primario hover:text-blanco hover:bg-primario border-primario group">
              Categorías <svg class="ml-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
              <div id="dropdownNavbar" class="hidden z-10 w-44 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-1" aria-labelledby="dropdownLargeButton">
                  <li>
                    <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">Dashboard</a>
                  </li>
                  <li>
                    <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">Settings</a>
                  </li>
                  <li>
                    <a href="#" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">Earnings</a>
                  </li>
                </ul>
            </div>
          </li>
          <li>
            <a href="#" class="align-middle uppercase px-4 py-2 mr-6 font-small duration-300 rounded cursor-pointer text-primario hover:text-blanco hover:bg-primario border-primario group">
              Recintos
            </a>
          </li>
          <li>
            <a href="#" class="align-middle uppercase px-4 py-2 mr-6 font-small duration-300 rounded cursor-pointer text-primario hover:text-blanco hover:bg-primario border-primario group">
              Puntos de venta
            </a>
          </li>
          <li>
            <a href="#">
            <div data-tooltip-target="tooltip-top" data-tooltip-placement="top"
              class="w-8 h-8 mx-1 mb-1 py-0.5 border rounded-full cursor-pointer border-primario hover:bg-primario group duration-300" 
            >
                <div id="tooltip-top" role="tooltip" class="duration-300 inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                  Abrir chat
                  <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
              <svg
                width="20"
                height="18"
                viewBox="0 0 20 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="m-auto pt-1.5 w-5 h-5"
              >
                <path
                  d="M10.0013 0.251099C4.47858 0.251099 0.00259217 3.88735 0.00259217 8.37505C0.00259217 10.2342 0.779835 11.9371 2.06873 13.308C1.48677 14.8469 0.275994 16.1514 0.256466 16.167C-0.00131357 16.4404 -0.071617 16.8388 0.0768013 17.1825C0.22522 17.5262 0.565019 17.7488 0.939971 17.7488C3.342 17.7488 5.23629 16.7451 6.37286 15.9405C7.50162 16.2959 8.72021 16.499 10.0013 16.499C15.524 16.499 20 12.8627 20 8.37505C20 3.88735 15.524 0.251099 10.0013 0.251099ZM10.0013 14.6242C8.95846 14.6242 7.92735 14.4641 6.93919 14.1516L6.05259 13.8704L5.29097 14.4094C4.73245 14.8039 3.96692 15.2452 3.04517 15.5421C3.33029 15.0695 3.60759 14.5383 3.82241 13.972L4.23642 12.8745L3.43184 12.023C2.7249 11.2692 1.87735 10.0233 1.87735 8.37505C1.87735 4.93018 5.52141 2.12586 10.0013 2.12586C14.4812 2.12586 18.1252 4.93018 18.1252 8.37505C18.1252 11.8199 14.4812 14.6242 10.0013 14.6242Z"
                  class="fill-primario group-hover:fill-blanco"
                />
              </svg>
            </div>
            </a>
          </li>
        </ul>
      </nav>
      <div class="justify-end hidden w-1/2 lg:flex">
        <ul class="flex items-center justify-self-end">
          <li>
            <div
              class="flex items-center px-4 py-2 ml-3 font-small duration-300 border rounded-md cursor-pointer text-primario hover:text-blanco hover:bg-primario border-primario group"
            >
              <div>Establecimientos</div>
              <svg
                width="18"
                height="20"
                viewBox="0 0 18 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4 ml-2"
              >
                <path
                  d="M5.25 5.78125V4.21875C5.25 3.96094 5.46094 3.75 5.71875 3.75H7.28125C7.53906 3.75 7.75 3.96094 7.75 4.21875V5.78125C7.75 6.03906 7.53906 6.25 7.28125 6.25H5.71875C5.46094 6.25 5.25 6.03906 5.25 5.78125ZM10.7188 6.25H12.2812C12.5391 6.25 12.75 6.03906 12.75 5.78125V4.21875C12.75 3.96094 12.5391 3.75 12.2812 3.75H10.7188C10.4609 3.75 10.25 3.96094 10.25 4.21875V5.78125C10.25 6.03906 10.4609 6.25 10.7188 6.25ZM5.71875 10H7.28125C7.53906 10 7.75 9.78906 7.75 9.53125V7.96875C7.75 7.71094 7.53906 7.5 7.28125 7.5H5.71875C5.46094 7.5 5.25 7.71094 5.25 7.96875V9.53125C5.25 9.78906 5.46094 10 5.71875 10ZM10.7188 10H12.2812C12.5391 10 12.75 9.78906 12.75 9.53125V7.96875C12.75 7.71094 12.5391 7.5 12.2812 7.5H10.7188C10.4609 7.5 10.25 7.71094 10.25 7.96875V9.53125C10.25 9.78906 10.4609 10 10.7188 10ZM7.75 13.2812V11.7188C7.75 11.4609 7.53906 11.25 7.28125 11.25H5.71875C5.46094 11.25 5.25 11.4609 5.25 11.7188V13.2812C5.25 13.5391 5.46094 13.75 5.71875 13.75H7.28125C7.53906 13.75 7.75 13.5391 7.75 13.2812ZM10.7188 13.75H12.2812C12.5391 13.75 12.75 13.5391 12.75 13.2812V11.7188C12.75 11.4609 12.5391 11.25 12.2812 11.25H10.7188C10.4609 11.25 10.25 11.4609 10.25 11.7188V13.2812C10.25 13.5391 10.4609 13.75 10.7188 13.75ZM17.75 18.5938V20H0.25V18.5938C0.25 18.3359 0.460938 18.125 0.71875 18.125H1.48047V0.9375C1.48047 0.417969 1.89844 0 2.41797 0H15.582C16.1016 0 16.5195 0.417969 16.5195 0.9375V18.125H17.2812C17.5391 18.125 17.75 18.3359 17.75 18.5938ZM3.35547 18.0859H7.75V15.4688C7.75 15.2109 7.96094 15 8.21875 15H9.78125C10.0391 15 10.25 15.2109 10.25 15.4688V18.0859H14.6445V1.91406L3.375 1.875L3.35547 18.0859Z"
                  class="fill-primario group-hover:fill-blanco"
                />
              </svg>
            </div>
          </li>
          <li>
            <div class="ml-4">
                <label for="table-search" class="sr-only">Search</label>
                <div class="relative">
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none ">
                        <svg class="w-5 h-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                    </div>
                    <input type="text" id="table-search" class="hover:text-front-claro hover:bg-gray-300 border-gray-300 bg-gray-50 border text-primario text-sm rounded-lg focus:accent focus:border-accent block w-80 pl-10 p-2.5" placeholder="Haz una búsqueda">
                </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
