<template>
  <div class="seccion barra-menu">
    <div
      class="hidden h-12 px-4 font-medium bg-back-claro lg:flex lg:items-center lg:justify-end"
    >
      <a href="#" class="ml-2 text-sm text-gray-500 hover:text-primario">ESP</a>
      <a href="#" class="ml-2 text-sm text-gray-500 hover:text-primario">ENG</a>
    </div>
  </div>
</template>
