<template>
  <div class="seccion iconos">
    <div class="flex w-full p-5 space-x-5 text-primario">
      <BeakerIcon class="w-5 h-5" />
      <GlobeAltIcon class="w-5 h-5" />
      <CubeTransparentIcon class="w-5 h-5" />
      <BriefcaseIcon class="w-5 h-5" />
    </div>
  </div>
</template>

<script setup>
import {
  BeakerIcon,
  BackspaceIcon,
  AdjustmentsIcon,
  ArrowCircleRightIcon,
  GlobeAltIcon,
  CubeTransparentIcon,
  BriefcaseIcon,
  ArchiveIcon,
} from "@heroicons/vue/solid";
</script>
